/* Light Mode */
$clr-primary-1: hsl(184, 91%, 17%);
$clr-primary-5: #2caeba;
$clr-primary-10: hsl(186, 100%, 94%);

$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-4: hsl(209, 28%, 39%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-10: hsl(210, 36%, 96%);

$clr-white: #fff;
$font-color-dark: rgb(42, 42, 42);

/* Dark Mode */
$clr-primary-1-dark: #330c8f;
$clr-primary-5-dark: #6234c3;
$clr-primary-7-dark: #8f62f7;
$clr-primary-9-dark: #BB86FC;
$clr-primary-10-dark: #121212;

$clr-grey-1-dark: #f0eeee;
$clr-grey-5-dark: #e8e8e8;

$clr-black: #1e1e1f;
$font-color-light: rgb(240, 240, 240);