  /* Fonts */
  $ff-primary: "Roboto",
  sans-serif;
  $ff-secondary: "Open Sans",
  sans-serif;
  $transition: all 0.1s linear;
  $spacing: 0.2rem;
  $radius: 0.25rem;
  $light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  $dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  $max-width: 1170px;
  $fixed-width: 700px;

  /* Breackpoints */
  $breackpoint-up-sm: '576px';
  $breackpoint-up-md: '768px';
  $breackpoint-up-lg: '992px';
  $breackpoint-up-xl: '1200px';
  $breackpoint-down-xs: '575.98px';
  $breackpoint-down-sm: '767.98px';
  $breackpoint-down-md: '991.98px';
  $breackpoint-down-lg: '1199.98px';